body {
    height: 100vh;
    background-image: linear-gradient(45deg, rgb(0, 255, 238), rgb(127, 158, 204))
}

#main-heading {
    margin-top: 10%;
    font-size: 56px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.button-wrapper {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#changeTitle {
    font-size: 24px;
}

#refreshPage {
    font-size: 24px;
    background-color: rgb(255, 0, 85);  
}

#serverFetch {
    width: fit-content;
    font-size: 24px;
}

